
  
  .cat-item {
    background: #FFFFFF;
    transition: .5s;
  }
  
  .cat-item:hover {
    background: #FFD333;
  }
  
  .cat-item img {
    transition: .5s;
  }
  
  .cat-item:hover img {
    transform: scale(1.2) rotate(5deg);
  }
  

  
  
  .back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 11;
    animation: action 1s infinite alternate;
  }
  
  @keyframes action {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-15px);
    }
  }
  